body{
font-family: sans-serif; arial;
background-color: rgb(144, 216, 238);
display: flex;
justify-content: center;
align-items: center;
height: 30vh;

}

.container{
  background-color: rgb(191, 227, 238);
  padding: 50px;
  width: 400px;
  text-align: center;
  border-radius: 40px;

}

input{
  width: auto%;
  padding:8px;
  margin: 10px, 0px;


}


button {
  padding: 10px;
  width: auto;
  background-color: green;
  color: white;
  border-radius:8px;
  cursor: pointer;
}

#resultado {
  margin-top: 15px;
  font-weight: bold;
}